$link-default: #F0BF5F;
$link-hover: #CC9933;
$link-active: #A47312;
$light-blue: #CEE8FA;

$white: #FFFFFF;
$gradient: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
$light: #F1F1F1;
$gray-light: #E9E9E9;
$gray-medium: #999999;
$gray-normal: #666666;
$gray-dark: #333333;
$black: #000000;

$background: #E5E5E5;