.contacts {
    &__box {
        display: flex;
        padding: 45px;
        background-color: $white;

        &-text {
            margin-right: 52px;
        }

        &-img {
            border-radius: 10px;
        }
    }

    &__address-section {
        padding-bottom: 23px;
        border-bottom: 1px solid $gray-light;

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        &:last-of-type {
            margin-bottom: 45px;
        }
    }

    &__btn {
        font-size: 16px;
    }
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-width: 375px;

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    &__text {
        font-size: 16px;

        &_light {
            color: $gray-medium;
        }
    }

    &__box {
        &-title {
            min-width: 40%;
        }
    }

    & * {
        line-height: 150%;
    }
}