.header {
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 30px 0;
    }

    &__logo {
        &-wrap {
            display: flex;
            align-items: center;
        }

        &-link {
            margin-right: 40px;
        }
    }
}