@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.text {
    margin: 15px auto;
    font-size: 150%;
}

.head-header {
    font-size: 300%;
}

.content-header {
    font-size: 250%;
}

.inbox-header {
    font-size: 200%;
}

.menu {
    margin-left: 64px;
    font-size: 150%;
}

.brothers {
    margin-left: 64px;
    font-size: 125%;
}

.content {
    width: 70%;
    ;
    margin: 0 auto;
}

.header-content {
    height: 100%;
}

.box-content {
    margin-top: 64px;
}

.inbox {
    box-sizing: border-box;
    margin-top: 32px;
    padding: 16px
}

figure {
    float: right;
    margin-left: 64px;
    font-size: 125%;
}

figcaption {
    font-style: italic;
}

table,
th,
td,
tr {
    border: 1px solid #000;
    border-collapse: collapse;
}

table {
    font-size: 125%;
    margin: 15px auto;
}