@import "fonts";
@import "base";

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #222020;
}

.page-title {
    margin-bottom: 30px;
    padding: 15px;
    font-family: "Graphik LCG", sans-serif;
    letter-spacing: 3px;
    color: #FFFFFF;
    background-color: #2f1ce4;
    border-radius: 5px;
}

.link-box {
    padding-top: 10px;

    &__link {
        padding: 20px;
        color: #FFFFFF;
        background-color: #2f1ce4;
        border: 3px solid #2f1ce4;
    }
}

.container {
    margin: 0 auto;
    padding: 30px 2%;
    max-width: 1170px;
    background-color: aliceblue;
    border-radius: 10px;
}

h2 {
    margin: 100px 0 25px;
    padding-left: 180px;
    font-size: 36px;
    color: #2f1ce4;

    &::first-letter {
        text-transform: uppercase;
    }
}

ul {
    padding-left: 200px;
    font-size: 18px;
}

p {
    padding-left: 180px;
    margin-bottom: 20px;
}

table {
    width: 95%;
    border: 1px solid #000;
    border-collapse: collapse;

    td,
    th {
        padding: 5px 10px;
        border: 1px solid #000;
    }
}