$orange-default: #FF9900;
$orange-light: #FFB84D;
$orange-dark: #E1670E;
$green: #97EE3F;

$white: #FFFFFF;

$gray-lighter: #CACACA;
$gray-light: #00000080;
$gray: #666666;
$gray-dark: #414141;

$black: #000000;

$bg-body: #E5E5E5;