.header {
    background-color: $white;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
    }

    &__box {
        &-logo {
            margin-right: 20%;
        }

        &-find {
            cursor: pointer;

            &:hover svg {
                & path {
                    stroke: $orange-default;
                }

                & rect {
                    fill: $orange-default;
                }

                & circle {
                    stroke: $orange-default;
                }
            }

            &:active {
                outline: 2px solid $orange-default;
            }
        }
    }
}

.nav {
    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 85px;
        }
    }

    &__link {
        display: inline-block;
        padding: 5px;
        @include txt-semibold(18px);
        text-decoration: none;
        border: 2px solid transparent;
        color: $black;

        &:hover {
            color: inherit;
            border-bottom: 2px solid $orange-default;
        }

        &:focus {
            color: inherit;
            border: 2px solid $orange-default;

        }

        &:active {
            color: $orange-dark;
            border: 2px solid $orange-dark;
        }
    }
}

.find {
    position: relative;
    // overflow: hidden;

    &__box {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: -30%;
        display: flex;
        padding: 18px 13px;
        @include rounded(24px);
        background: $white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    }
}