.prof {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        gap: 32px;
    }

    &__left {
        @include rounded(32px);
        display: flex;
        align-items: flex-end;
        min-height: 622px;
        max-width: 858px;
        width: 100%;
        background-image: url('../img/about/about.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.left {
    &__wrapper {
        @include rounded(32px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        background-color: $gray-light;
    }

    &__text {
        @include txt-bold(16px);
        @extend .txt--white;
        max-width: 460px;
        line-height: 32px;
    }
}

.right {
    &__item {
        @include rounded(32px);
        display: flex;
        padding: 65px 60px;
        border: 1px solid $gray-lighter;
        background-color: $white;

        &--top {
            margin-bottom: 32px;
        }
    }

    &__img {
        margin-right: 50px;
    }

    &__subtitle {
        margin-bottom: 8px;
    }

    &__paragraph {
        @include txt-norm(16px);
        line-height: 32px;
    }

}

@media screen and (max-width: 1200px) {
    .prof {
        &__wrapper {
            flex-direction: column;
        }
    }

}

@media screen and (max-width: 628px) {
    .prof {
        &__left {
            min-height: 400px;

            background : {
                size: 100% 50%;
                position: top;
            }
        }
    }

    .left {
        &__wrapper {
            padding: 8px 0 0;
            margin-bottom: 12px;
            flex-direction: column;
            align-items: flex-start;
            background-color: transparent;
        }

        &__text {
            color: $black;
        }
    }

    .right {
        &__item {
            flex-direction: column;
            padding: 0;
            background-color: transparent;
            border: none;
        }

        &__img {
            max-height: 50px;
            margin-bottom: 13px;

            img {
                height: 50px;
                object-fit: cover;
            }
        }
    }
}