@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.content-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.box {
  min-height: 100vh;
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.button {
  border: 1px solid transparent;
  display: block;
  text-transform: uppercase;
  outline: none;
}
.button:hover, .button:active, .button:focus {
  outline: none;
}

.details {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.details:hover {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  text-align: center;
  text-transform: uppercase;
}
.title_main {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 25px;
}
.title_section {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
}
.title_card {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.subtitle::first-letter {
  text-transform: uppercase;
}
.subtitle_dark {
  color: #222222;
}
.subtitle_light {
  color: #FFFFFF;
}

.mobile {
  padding: 46px 0 70px;
  background-image: url("../img/mobile_bg.png");
  background-size: cover;
  text-align: center;
}
.mobile__details {
  margin-bottom: 32px;
}
.mobile__title-section {
  margin-bottom: 0;
}
.mobilemobile__subtitle {
  margin-bottom: 30px;
}
.mobile-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 280px;
  color: #FFFFFF;
}
.mobile-card_1 {
  background: url(../img/card-1.png);
}
.mobile-card_2 {
  background: url(../img/card-2.png);
}
.mobile-card_3 {
  background: url(../img/card-3.png);
}
.mobile-card_4 {
  background: url(../img/card-4.png);
}
.mobile-card_5 {
  background: url(../img/card-5.png);
}
.mobile-card_6 {
  background: url(../img/card-6.png);
}
.mobile-card__title-box {
  margin: auto;
}
.mobile-card__plus {
  margin: 0 auto 35px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}

.header {
  color: #FFFFFF;
}
.header__link {
  display: block;
  color: #FFFFFF;
}
.header__link:hover {
  color: #1EACC7;
}
.header__button {
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  border-radius: 4px;
}
.header__button:hover, .header__button:active {
  color: #222222;
}

.nav {
  background-color: #212121;
}
.nav__list {
  margin: 0;
  padding: 7px 0;
  list-style-type: none;
  display: flex;
}
.nav__item {
  padding: 5px 35px;
  border-right: 2px dotted #000;
}
.nav__item:last-child {
  border-right: none;
}
.nav__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}

.partners {
  background-image: url("../img/uber_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.partners__header {
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.partners__logo-pic {
  margin: 0;
}
.partners__caption {
  font-weight: 100;
  font-size: 13px;
  line-height: 15px;
}
.partners__call {
  display: flex;
  align-items: flex-end;
}
.partners__call-link {
  margin-right: 20px;
}
.partners__call-text {
  margin: 5px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.partners__call-number {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}
.partners__call-button {
  padding: 0 20px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
}
.partners__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.partners__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.partners__text:last-of-type {
  margin-bottom: 110px;
}
.partners__text-box {
  padding-top: 60px;
}
.partners__text-button {
  margin: 0 auto 180px;
  padding: 10px 40px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}

.details_dark {
  background-color: #000;
  color: #FFFFFF;
}
.details_dark:hover, .details_dark:active {
  color: #000;
  background-color: #FFFFFF;
  border: 1px solid #000;
}
.details_light {
  color: #000;
  background-color: #FFFFFF;
}
.details_light:hover, .details_light:active {
  background-color: #000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.reasons {
  text-align: center;
  padding: 18px 0 65px;
}
.reasons__details {
  margin-bottom: 30px;
}
.reasons__item {
  display: flex;
  padding-left: 30px;
  margin-bottom: 25px;
}
.reasons__box-img {
  min-width: 115px;
  width: 115px;
  min-height: 115px;
  height: 115px;
  margin-right: 25px;
  border-radius: 50%;
  background-color: #1EACC7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons__box-text {
  text-align: left;
}
.reasons__title {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}
.reasons__title-section {
  margin-bottom: 16px;
}
.reasons__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}/*# sourceMappingURL=style.css.map */