@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@mixin txt-title($fz, $lh) {
    font-weight: 700;
    font-size: $fz;
    line-height: $lh;
}

@mixin txt-norm($fz, $lh) {
    font-weight: 400;
    font-size: $fz;
    line-height: $lh;
}

@mixin txt-thin($fz, $lh) {
    font-weight: 300;
    font-size: $fz;
    line-height: $lh;
}

@mixin txt-hair($fz, $lh) {
    font-weight: 100;
    font-size: $fz;
    line-height: $lh;
}

.title {
    text-align: center;
    text-transform: uppercase;

    &_main {
        text-align: center;
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 25px;
    }

    &_section {
        @include txt-title(38px, 48px);
    }

    &_card {
        @include txt-norm(24px, 31px);
    }
    &_dark {
        color: $txt-dark;
    }
    &_light {
        color: $white;
    }
}

.subtitle {
    text-align: center;
    @include txt-norm(17px, 21px);

    &::first-letter {
        text-transform: uppercase;
    }

    &_dark {
        color: $txt-dark;
    }

    &_light {
        color: $white;
    }
}

.blue {
    color: $txt-blue_conditions;

    &-list {
        list-style-image: url("../icons/check_blue 1.svg");
    }
}

.red {
    color: $red;

    &-list {
        list-style-image: url("../icons/check_red 1.svg");
    }
}