@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$main-back: #817070;
$gray-color: #C4C4C4;

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.header {
  background-color: #FFFFFF;
  color: #000000;
  padding: 29px 0;

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
  }
}

.main {
  background-color: $main-back;
  color: #FFFFFF;
  padding: 85px 0 35px 0;
}

.name {
  margin-bottom: 80px;
  justify-content: center;

  &__field {
    margin-right: 65px;
    width: 300px;
    height: 55px;
    background-color: $main-back;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &::placeholder {
      color: #FFFFFF;
    }
  }
}

.allow {
  border: 3px solid #FFFFFF;
}

.input {
  display: flex;
  justify-content: center;

  &__container {
    width: 350px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
  }
}

.beverages {
  margin-right: 120px;
}

input[type="number"] {
  border: 3px solid #FFFFFF;
  background-color: $main-back;
  text-align: center;
  width: 130px;
  height: 55px;
  &::placeholder {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
input[type="checkbox"] {
  border: 3px solid #FFFFFF;
  width: 21px;
  height: 21px;
  background-color: #C4C4C4;
  &:checked {
    background-color: $main-back;
  }
}

.description {
  width: 170px;
}

.goods {
  margin-bottom: 40px;
}
.order {
  margin-bottom: 35px;
  flex-direction: column;
  align-items: center;
  &__price {
    margin-bottom: 26px;
  }
  &__submit {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid transparent;
    background-color: #FFFFFF;
    color: $main-back;
    padding: 13px 20px;
    &:hover {
      background-color: $main-back;
      color: #FFFFFF;
      border: 3px solid #FFFFFF;
    }
  }
}